* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    background-color: #ffffe0;
}
    
.padre {
    display: flex;
    /* en columnas y q se adapte a la dimension */
    flex-flow: column nowrap;
    /* lo pone en otra linia cuando considere oportuno segun tamaños  */
    flex-wrap: wrap ;
    justify-content: center;
}

.header{
   display: flex;
   /* en columnas y q se adapte a la dimension */
   flex-flow: column nowrap;
   background-image: url("images/fondo.jpg");
}



   .menu {
        display: flex;
        flex-flow: row nowrap;
        height: 100px ;
        align-items: center;
    }
        .logo{
            flex: 1 1 auto;
        }        

        .nav{
            /* esta columna es 5 veces mas grande que el resto */
            flex: 5 1 auto;
        }

        .social{
           display: flex;
           flex-direction: column;
           flex-shrink: 1;
        }
         
       

    .texto-principal{
       margin: 0;
       padding: 0;
    }
        h1{
            color: #f73f52;
            text-align: center;
        }


.section{
  display: flex;
  background-color: grey;
  margin: 1px;
  padding: 1px;
}
    .articulos{
        display: flex;
        background-color: grey;
        padding: 5px;
        flex: 2 1 70%;
        /* que la columna baixi si cal  */
        flex-flow: row wrap;     
    }
        .article{
            display: flex;            
            background-color: grey;
            /* cada un dels articles que ocupi el 40%... i com li hem ficat wrap baixarà  */
            flex: 1 1 25%;   
            padding: 5px;
        }

        .img img{
            width: 100%;
        }

        .navegacion{
            background:red; 
            
            /* possem 100 pq ocupi tota la fila  */
            flex: 1 1 100%;  
        }

    .aside{
        flex: 1 1 30%;     
        background-color: grey;   
    }
        .publicidad{
            background: #ffea85; 
        }

.footer{
    display: flex;
    justify-content: center; 
}
  .pie{
    width: 100%;         
  }

a:link{
    color: black; 
}

a:visited {
    color: black;
  }

a:hover {
  
    background-color: #f73f52;
  }

  @media all and (max-width: 360px ){
     .section{
         flex-direction: column;         
     }
     
     .menu{
         height: auto;
     }

     .aside{
        display: flex;
        justify-content: center;
        flex-direction: column;
     }
  }

  